routers/contacts.js

// import { Router } from "express";
// import {allContactsController} from "../controllers/contactsController.js"
// import { contactsByIdController } from "../controllers/contactsByIdController.js";

// const contactsRouter = Router();

// contactsRouter.get("/contacts", allContactsController)

// contactsRouter.get("/contacts/:contactId", contactsByIdController)

// export default contactsRouter